@tailwind base;
@tailwind components;
@tailwind utilities;

.img-cont {
  width: 500px;
}

#pokemon-container {
  height: 80vh;
}

.poke-img {
  width: 17rem;
}

.logo {
  width: 50px;
}

  #spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(95vh - 3px);
  }